  <h2><%= @user.nickname %> 様</h2>
  
　<p>予約リクエストが届きました。<br>
　内容をご確認の上、マイページのリクエスト詳細画面よりご返答ください。<br>
　予約内容は以下になります。</p>

  <table>
    <tr>
      <th>ユーザー名</th>
      <th><%= @reservation.reserver.nickname %></th>
    </tr>
    <tr>
      <th>バイク名</th>
      <th><%= @bike.name %></th>
    </tr>
    <tr>
      <th>利用開始日時</th>
      <th><%= @reservation.start_time %></th>
    </tr>
    <tr>
      <th>返却日時</th>
      <th><%= @reservation.end_time %></th>
    </tr>
    <tr>
      <th>オーナー様への伝達事項・要望</th>
      <th><%= @reservation.reservation_comment %></th>
    </tr>
  </table>

  <p>今後とも Beloved_bikes をよろしくお願いいたします。</p>
  <p>Beloved_bikes運営局</p>
  <span><%= @url %></span>