<div class='container col-xs-12 col-sm-12 col-md-10'>
  <div class='row'>
    <div class='offset-1'>
      <h1 class="heading08"><span>Edit User</span>ユーザー編集</h1>
    </div>
    <%= render partial: 'layouts/flash' %>
  </div>
  <div class='row hoge'>
    <div class='mx-auto col-xs-12 col-sm-12 col-md-10 edituser'>
      <%= form_with model:@user, local:true do |f| %>
      <!--<#%= render 'layouts/error_messages', model: f.object %>-->
      <%= f.hidden_field :user_id, value:@user.id %>
      <table class="table">
        <tr>
          <td><label for='inputImage'>ProfileImage</label></td>
          <td><%= f.attachment_field :profile_image %></td>
        </tr>
        <tr>
          <td><label for='imputNickname'>Nickname</label></td>
          <td><%= f.text_field :nickname, class:"form-control", id:'imputTNickname' %></td>
        </tr>
        <tr>
          <td><label for='imputTelephone_number'>Telephone Number</label></td>
          <td><%= f.text_field :telephone_number, class:"form-control", id:'imputTelephone_number' %></td>
        </tr>

        <tr>
          <td><label for='inputProfile_comment'>Profile Comment</label></td>
          <td><%= f.text_area :profile_comment, class:"form-control", id:'inputProfile_comment' %></td>
        </tr>

        <tr>
          <td><label for='inputPostal_code'>Postal Code</label></td>
          <td><%= f.text_field :postal_code, class:"form-control", id:'inputPostal_code' %></td>
        </tr>

        <tr>
          <td><label for='inputAddress'>Address</label></td>
          <td colspan="2"><%= f.text_field :address, class:"form-control", id:'inputAddress' %></td>
        </tr>

        <tr>
          <th>免許証(表)画像</th>
          <th><%= attachment_image_tag(@user, :license_front_image, height: "300", width: "400", fallback: "no_image.jpg") %></th>
        </tr>
        
        <tr>
           <td><lebel for='inputlicense_image'>免許証(表)画像</lebel></td>
           <td><%= f.attachment_field :license_front_image %></td>
        </tr>

        <tr>
          <th>免許証(裏)画像</th>
          <th><%= attachment_image_tag(@user, :license_back_image, height: "300", width: "400", fallback: "no_image.jpg") %></th>
        </tr>
        <tr>
           <td><lebel for='inputlicense_image'>免許証(裏)画像</lebel></td>
           <td><%= f.attachment_field :license_back_image %></td>
        </tr>

        <tr>
           <td><lebel for='inputlicense_number'>免許証番号</lebel></td>
           <td><%= f.email_field :license_number,class:"form-control", id:'inputlicense_number'  %></td>
        </tr>
        <tr>
           <td><lebel for='inputlicense_date'>交付日</lebel></td>
           <td><%= f.email_field :license_date,class:"form-control", id:'inputlicense_date'  %></td>
        </tr>
        <tr>
           <td><lebel for='inputlicense_expiration'>有効期限</lebel></td>
           <td><%= f.email_field :license_expiration,class:"form-control", id:'inputlicense_expiration'  %></td>
        </tr>

      </table>
      <div class="form-group">
        <%= f.submit "編集内容を保存",class: "btn btn-outline-dark form-control"%>
      </div>
      <% end %>
      <%= link_to '退会する', 'unsubscribe', class: "btn btn-outline-warning" %>
    </div>
  </div>
</div>