<div class='container'>
  <div class='row'>
    <div class='col-4 offset-1'>
      <nav class="navbar navbar-light">
      <h2 class='title'>Editing User</h2>
      </nav>
    </div>
    <div class='col-md-8'></div>
  </div>
  <div class='row hoge'>
    <div class='mx-auto newitem title'>
      <!--<#%= render partial: 'layouts/flash' %>-->
      <%= form_with model:@user, local:true do |f| %>
      <!--<#%= render 'layouts/error_messages', model: f.object %>-->
      <%= f.hidden_field :user_id, value:@user.id %>
      <table class="table">
        <tr>
          <td><label for='inputImage'>ProfileImage</label></td>
          <td><%= f.attachment_field :profile_image %></td>
        </tr>
        <tr>
          <td><label for='imputNickname'>Nickname</label></td>
          <td><%= f.text_field :nickname, class:"form-control", id:'imputTNickname' %></td>
        </tr>
        <tr>
          <td><label for='imputTelephone_number'>Telephone Number</label></td>
          <td><%= f.text_field :telephone_number, class:"form-control", id:'imputTelephone_number' %></td>
        </tr>

        <tr>
          <td><label for='inputProfile_comment'>Profile Comment</label></td>
          <td><%= f.text_area :profile_comment, class:"form-control", id:'inputProfile_comment' %></td>
        </tr>

        <tr>
          <td><label for='inputPostal_code'>Postal Code</label></td>
          <td><%= f.text_field :postal_code, class:"form-control", id:'inputPostal_code' %></td>
        </tr>

        <tr>
          <td><label for='inputAddress'>Address</label></td>
          <td colspan="2"><%= f.text_field :address, class:"form-control", id:'inputAddress' %></td>
        </tr>

        <tr>
           <td><lebel for='inputEmail'>Email</lebel></td>
           <td><%= f.email_field :email,class:"form-control", id:'inputEmail'  %></td>
        </tr>

      </table>
      <div class="form-group">
        <%= f.submit "編集内容を保存",class: "btn btn-outline-dark"%>
      </div>
      <% end %>
      <%= link_to '退会する', root_path, class: "btn btn-outline-warning" %>
    </div>
  </div>
</div>