<div class="container col-xs-12 col-sm-12 col-md-10">
  <div class="row">
    <div class='offset-1'>
      <h1 class="heading08"><span>User Detail</span>ユーザー情報</h1>
    </div>
      <!--<#%= render partial: 'layouts/flash' %>-->
  </div>
  <div class="row d-flex justify-content-between mx-auto col-xs-12 col-sm-12 col-md-7">
   <div class="mb-5">
    <h4>予約履歴</h4>
      <%= link_to '一覧を見る', reservations_path, class: "btn btn-outline-info" %>
    </div>
    <div class="mb-5">
      <h4>リクエスト履歴</h4>
      <%= link_to '一覧を見る', requests_reservations_path, class: "btn btn-outline-info" %>
    </div>
  </div>
<div class="container col-xs-12 col-sm-12 col-md-10">
   <div class="row hoge">
      <h3>登録情報</h3>
      <% if @user.id == current_user.id %>
      <%= link_to '編集する', edit_user_path(current_user),  class: "btn btn-outline-success form-control" %>
        <table class="table">
          <tr>
            <th>プロフィール画像</th>
            <th><%= attachment_image_tag(@user, :profile_image, height: "150", width: "150", fallback: "no_image.jpg") %></th>
          </tr>
          <tr>
            <th>ニックネーム</th>
            <th><%= @user.nickname %></th>
          </tr>
          <tr>
            <th>氏名</th>
            <th><%= @user.last_name %><%= @user.first_name %></th>
          </tr>
          <tr>
            <th>カナ</th>
            <th><%= @user.last_name_kana %><%= @user.first_name_kana %></th>
          </tr>
          <tr>
            <th>郵便番号</th>
            <th><%= @user.postal_code %></th>
          </tr>
          <tr>
            <th>住所</th>
            <th><%= @user.address %></th>
          </tr>
          <tr>
            <th>電話番号</th>
            <th><%= @user.telephone_number %></th>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <th><%= @user.email %></th>
          </tr>
          <tr>
            <th>自己紹介</th>
            <th><%= @user.profile_comment %></th>
          </tr>
        </table>

      <div class="border my-5 col-12"></div>

      <div class="container col-xs-12 col-sm-12 col-md-10">
        <table class="table">
          <tr>
            <th>免許証(表)画像</th>license_front_image_id
            <th><%= attachment_image_tag(@user, :license_front_image, height: "300", width: "400", fallback: "no_image.jpg") %></th>
          </tr>
          <tr>
            <th>免許証(裏)画像</th>
            <th><%= attachment_image_tag(@user, :license_back_image, height: "300", width: "400", fallback: "no_image.jpg") %></th>
          </tr>
          <tr>
            <th>免許証番号</th>
            <th><%= @user.license_number %></th>
          </tr>
          <tr>
            <th>交付日</th>
            <th><%= @user.license_date %></th>
          </tr>
          <tr>
            <th>有効期限</th>
            <th><%= @user.license_expiration %></th>
          </tr>
        </table>
      </div>

      <% else %>
        <table class="table">
          <tr>
            <th>プロフィール画像</th>
            <th><%= attachment_image_tag(@user, :profile_image, height: "150", width: "150", fallback: "no_image.jpg") %></th>
          </tr>
          <tr>
            <th>ニックネーム</th>
            <th><%= @user.nickname %></th>
          </tr>
          <tr>
            <th>自己紹介</th>
            <th><%= @user.profile_comment %></th>
          </tr>
        </table>

      <%= link_to review_path(@user), class: "m-5" do %>
        <h2 class="text-success">このユーザーの評価</h2>
        <div id="average-review-evaluation" data-score=<%= @average_review %>></div>
        <p><%= @reviews.count %> Reviews</p>
      <% end %>

      <script>
        $('#average-review-evaluation').empty();
        $('#average-review-evaluation').raty({
          readOnly: true,
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          score: function() {
            return $(this).attr('data-score')
          }
        });
      </script>

      <div class="border mb-7"></div>

      <h2>このユーザーを評価する</h2>
      <!--<#%= link_to 'このユーザーを評価する', new_review_path(@user.id), data: {"turbolinks" => false}, class: "btn btn-outline-info" %>-->
        <%= form_with(model: @review, local: true) do |f| %>
          <%= f.hidden_field :evaluation, :value => 'score' %>
          <%= f.hidden_field :reviewer_id, value:current_user.id  %>
          <%= f.hidden_field :reviewed_id, value:@user.id  %>

          <div>
            <%= f.label "コメント(200字まで)" %>
            <%= f.text_field :review_comment %>
          </div>
          <div id="evaluate_stars">
            <label>評価：</label>
          </div>
          <div class="actions">
            <%= f.submit '評価する', class:'btn btn-lg btn-outline-dark'  %>
          </div>
        <% end %>

        <script>
          $('#evaluate_stars').raty({
            size: 36,
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'review[evaluation]', //登録するモデル名とカラム名を記述
            half: true // star-halfの入力を行う
          });
        </script>

      <% end %>
    </div>
  </div>
</div>