
<div class="container col-xs-12 col-sm-12 col-md-10">
  <div class="row">
    <div class='offset-1 my-5'>
      <h1 class="heading08"><span>CHAT WITH <%= @user.nickname %></span><%= @user.nickname %>様とのチャットルーム</h1>
    </div>
  </div>
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <div class="messages">
        <div class="row left">
          <div class="badge badge-pill mychat shadow mt-2">
            <p class="message px-3", style="text-align: left;"><%= chat.message %></p>
          </div>
        </div>
        <h6 class="created_at"><%= chat.created_at %></h6>
      </div>
    <% else %>
      <div class="messages">
        <div class="row right">
          <div class="badge badge-pill yourchat shadow mt-2">
            <p style="message px-3", style="text-align: left;"><%= chat.message %></p>
          </div>
          <%= attachment_image_tag(@user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", class: "rounded-circle") %>
        </div>
        <h6 class="created_at row right"><%= chat.created_at %></h6>
      </div>
    <% end %>
  <% end %>

  <div class="row hoge">
    <div class="col-xs-12 col-sm-12 col-md-8">
      <%= form_with model: @chat, local: true do |f| %>
        <%= f.text_area :message, class:"form-control", placeholder:"200字まで" %>
        <%= f.hidden_field :room_id %>
        <div class="m-3"><%= f.submit "送信", class:"btn btn-outline-success chat-btn form-control" %></div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  const $scrollAuto = $('.messages');
  $scrollAuto.animate({scrollTop: ($scrollAuto[0].scrollHeight + 1000)}, 'fast')
</script>