<div class="container">
   <div class="row">
    <div class='col-4 offset-1'>
     <h1 class="heading08"><span>Requests</span>リクエスト一覧</h1>
    </div>
   </div>
   <%= render partial: 'layouts/flash' %>
    <div class="row hoge">
      <div calss="col-10 mx-auto">
      <% if @reservations.empty? %>
        <h4>リクエストはまだありません</h4>
      <% else %>
       <table border="1" class="table">
         <thead class="table-primary">
           <tr>
             <th>バイク名</th>
             <th>利用開始日時</th>
             <th>返却日時</th>
             <th>ユーザー名</th>
             <th>予約ステータス</th>
             <th></th>
           </tr>
         </thead>
         <tbody>
           <% @reservations.each do |reservation| %>
           <tr>
             <td>
              <%= attachment_image_tag(reservation.bike, :bike_image, :fill, 30, 30, fallback: "no_image_bike.jpg") %>
              <%= reservation.bike.name %>
             </td>
             <td><%= reservation.start_time %></td>
             <td><%= reservation.end_time %></td>
             <td><%= reservation.reserver.nickname %></td>
             <% if reservation.reservation_status == "承認" %>
               <td class="text-success">承認済</td>
             <% elsif reservation.reservation_status == "キャンセル"  %>
               <td class="text-secondary">キャンセル済</td>
             <% else %>
               <td class="text-danger">未確定</td>
             <% end %>
             <td>
              <%= link_to '確認する', reservation_path(reservation), class: "btn btn-sm btn-success" %>
              <% if current_user != reservation.reserver %>
               <%= link_to 'チャット', chat_path(reservation.reserver_id),  class: "btn btn-outline-info" %>
              <% end %>
             </td>
           </tr>
           <% end %>
         </tbody>
       </table>
      <% end %>
      </div>
    </div>
 </div>