<div class="container col-xs-12 col-sm-12 col-md-10">
  <div class="row">
    <div class='offset-1'>
      <h1 class="heading08"><span>Reservation Detail</span>予約詳細</h1>
    </div>
      <%= render partial: 'layouts/flash' %>
  </div>
  <div class="row hoge">
    <div>
      <h3>予約情報</h3>
      <%= link_to '取引メッセージ画面へ', chat_path(@user),  class: "btn btn-outline-info form-control" %>
      <table class="table">
        <tr>
          <th>バイク名</th>
          <th><%= @bike.name %></th>
        </tr>
        <tr>
          <th>オーナー名</th>
          <th><%= @user.nickname %></th>
        </tr>
        <tr>
          <th>一日当たり単価(円)</th>
          <th>¥ <%= @bike.price %></th>
        </tr>
        <tr>
          <th>利用開始日時</th>
          <th><%= @reservation.start_time %></th>
        </tr>
        <tr>
          <th>返却日時</th>
          <th><%= @reservation.end_time %></th>
        </tr>
        <tr>
          <th>オーナー様への伝達事項・要望</th>
          <th><%= @reservation.reservation_comment %></th>
        </tr>
      </table>
      <% if current_user.id == @reservation.reserved_id %>
        <% if @reservation.reservation_status == "承認" %>
          <div class="row hoge bg-success text-white">承認済</div>
        <% elsif @reservation.reservation_status == "キャンセル"  %>
          <div class="row hoge bg-secondary text-white">キャンセル済</div>
        <% else %>
          <div>
            <%= form_with model:@reservation, method: :patch, local: true do |f| %>
              <div class="field row hoge">
                <label class="reservation_status bg-info text-white px-4">予約ステータス</label><br>
                <div class="radio-inline ml-5 mr-3">
                  <%= f.radio_button :reservation_status, :未承認 %>
                  <%= f.label :未承認, class: "reservation_status" %>
                </div>
                <div class="radio-inline mr-3">
                  <%= f.radio_button :reservation_status, :承認 %>
                  <%= f.label :承認, class: "reservation_status" %>
                </div>
                <div class="radio-inline mr-3">
                  <%= f.radio_button :reservation_status, :キャンセル %>
                  <%= f.label :キャンセル, class: "jreservation_status" %>
                </div>
                <div class="reservation_reply w-100 mt-3">
                  <%= f.label "ユーザーへのメッセージ(500字まで)", class:"row hoge" %>
                  <%= f.text_area :reservation_reply, class:"form-control" %>
                </div>
              <div class="mr-3">
                <%= f.submit 'ステータスを更新する', class:'btn btn-lg btn-outline-dark m-3' %>
              </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
 </div>