<div class='container'>
  <div class='row'>
    <div class='col-8 offset-1'>
      <h1 class="heading08"><span>Edit Bike</span>バイク情報編集</h1>
    </div>
  </div>
  <div class='row hoge'>
    <div class='col-8 newbike'>
      <%= form_with model:@bike, local:true do |f| %>
      <%= f.hidden_field :user_id, value:@bike.id %>

        <div>
          <label for='inputImage'>Images</label><br>
          <%= f.file_field :bike_images, multiple: true, placeholder:'写真' %>
        </div>

        <div>
          <label for='inputName'>BikeName</label><br>
          <%= f.text_field :name, class:"form-control", id:'inputName' %>
        </div>

        <div>
          <label for='inputIntroduction'>Introduction</label><br>
          <%= f.text_area :introduction, class:"form-control", id:'inputIntroduction' %>
        </div>

        <div>
          <label for='inputMaker'>Maker</label><br>
          <%= f.text_field :maker, class:"form-control", id:'inputMaker' %>
        </div>

        <div>
          <label for='inputDisplacement'>排気量(cc)</label><br>
          <%= f.text_field :displacement, class:"form-control", id:'inputDisplacement' %>
        </div>

        <div>
          <label for='inputMileage'>総走行距離(km)</label><br>
          <%= f.text_field :mileage, class:"form-control", id:'inputMileage' %>
        </div>

        <div>
          <label for='inputModek_year'>年式</label><br>
          <%= f.text_field :modek_year, class:"form-control", id:'inputModek_year' %>
        </div>

        <div>
          <label for='inputPrice'>Price(1day)</label><br>
          <%= f.number_field :price,  step: "1000", class:"form-control", id:'inputPrice', placeholder:'1日の価格' %>
          <text>yen</text>
        </div>

        <div>
          <label>Status</label><br>
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, '出展中', {value: :true, style: 'display: inline-block;'} %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, '出展停止中', {value: :false, style: 'display: inline-block;'} %>
        </div>

        <div class='mt-3 mb-5'>
          <h2>gmap</h2>
            <%= form_with url: map_request_path, method: :get do |f|%>
              <%= f.text_field :address %>
              <%= f.submit '地図表示' %>
            <% end %>

            <div id="map">
            </div>

            <style>
            #map{
              height: 400px;
            }
            </style>

            <script>
              let mapInstance //この変数はmap.js.erbでも使うのでタイプミスに注意

              function initMap(){
                mapInstance = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -34.397, lng: 150.644},
                zoom: 8
                });
              }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs9fDVYkB6NXDWJkai-szrQmfxEYEE6AQ&callback=initMap" async defer></script>
          </div>
        <div>
          <%= f.submit 'Submit', class:'btn btn-lg btn-outline-dark' %>
        </div>
      <% end %>
    </div>
  </div>
</div>