<div class='container col-xs-12 col-sm-12 col-md-10'>
  <div class='row'>
    <div class=' col-xs-12 col-sm-12 col-md-10 offset-1'>
      <h1 class="heading08"><span>Edit Bike</span>バイク情報編集</h1>
    </div>
  </div>
  <div class='row hoge'>
    <div class='newbike'>
      <%= form_with(model:@bike, local:true, multipart: true) do |f| %>
      <%= f.hidden_field :user_id, value:@bike.id %>

        <div>
          <label for='inputVehicleInspection'>車検証(必ず有効なものを添付してください)</label><br>
          <%= f.file_field :vehicle_inspection, multiple: true, placeholder:'車検証' %>
        </div>

        <div>
          <label for='inputImage'>Images</label><br>
          <%= f.file_field :bike_image, multiple: true, placeholder:'写真' %>
        </div>

        <div>
          <label for='inputName'>BikeName</label><br>
          <%= f.text_field :name, class:"form-control", id:'inputName' %>
        </div>

        <div>
          <label for='inputIntroduction'>Introduction</label><br>
          <%= f.text_area :introduction, class:"form-control", id:'inputIntroduction' %>
        </div>

        <div>
          <label for='inputAtMt'>AT / MT</label><br>
          <%= f.select :at_mt, Bike.at_mts.keys, {}, class:"form-control" %>
        </div>

        <div>
          <label for='inputMaker'>Maker</label><br>
          <%= f.text_field :maker, class:"form-control", id:'inputMaker' %>
        </div>

        <div>
          <label for='inputDisplacement'>排気量(cc)</label><br>
          <%= f.text_field :displacement, class:"form-control", id:'inputDisplacement' %>
        </div>

        <div>
          <label for='inputMileage'>総走行距離(km)</label><br>
          <%= f.text_field :mileage, class:"form-control", id:'inputMileage' %>
        </div>

        <div>
          <label for='inputModek_year'>年式</label><br>
          <%= f.text_field :modek_year, class:"form-control", id:'inputModekYear' %>
        </div>

        <div>
          <label for='inputPrice'>Price(1day)</label><br>
          <%= f.number_field :price,  step: "1000", min: "0", id:'inputPrice', placeholder:'1日の価格' %>
          <text>yen</text>
        </div>

        <div>
          <label for='inputArea'>都道府県</label><br>
          <%= f.select :area, Bike.areas.keys, {}, class:"form-control" %>
        </div>

        <table class="table  col-xs-12 col-sm-12 col-md-8">
          <h4>キャンセル規定</h4>
          <tr>
            <th>3日前(72時間前)まで</th>
            <th><%= f.number_field :cancel_fee72,  step: "10", max: "100", min: "0", id:'inputCancelFee72', placeholder:'0' %> %</th>
          </tr>
          <tr>
            <th>前日(24時間前)まで</th>
            <th><%= f.number_field :cancel_fee24,  step: "10", max: "100", min: "0", id:'inputCancelFee24', placeholder:'0' %> %</th>
          </tr>
          <tr>
            <th>当日</th>
            <th><%= f.number_field :cancel_fee_otd,  step: "10", max: "100", min: "0", id:'inputCancelFeeOtd', placeholder:'0' %> %</th>
          </tr>
        </table>

        <div>
          <label>Status</label><br>
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, '出展中', {value: :true, style: 'display: inline-block;'} %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, '出展停止中', {value: :false, style: 'display: inline-block;'} %>
        </div>

        <div class=' col-xs-12 col-sm-12 col-md-8 mt-3 mb-5'>
          <div class="spot">
            <%= f.fields_for :spot do |s| %>
              <%= s.label :address, "バイク受け渡し場所(Google Mapで検索)", class: 'spot__title' %>
              <%= s.text_field :address, placeholder: "住所、地名を入力", id: "address", class: 'spot__text' %>
            <input onclick="codeAddress()", type="button", value="検索する"></input>
            <div class="map", id="show_map", style="height: 320px; width: 640px;"></div>
            <% end %>
            <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs9fDVYkB6NXDWJkai-szrQmfxEYEE6AQ&callback=initMap" async defer></script>-->
          </div>
        </div>
        <div class="row hoge">
          <%= f.submit 'Submit', class:'btn btn-lg btn-outline-dark form-control form-control' %>
        </div>
      <% end %>
    </div>
  </div>
</div>