 <div class="container">
   <div class="row">
    <div class='col-12 col-md-8 offset-1'>
     <h1 class="heading08"><span>New Exhibit</span>出展登録</h1>
    </div>
   </div>
   <%= render partial: 'layouts/flash' %>
    <div class="row hoge">
      <div calss="col-12 col-md-10 mx-auto">
        <%= link_to '出展する', new_bike_path,  class: "btn btn-outline-success" %>
      <% if @bikes.empty? %>
        <h4>出品中のバイクはありません</h4>
      <% else %>
       <table border="1" class="table">
         <thead class="table-primary">
           <tr>
             <th>名前</th></th>
             <th>価格(1day)</th>
             <th>排気量(cc)</th>
             <th></th>
           </tr>
         </thead>
         <tbody>
           <% @bikes.each do |bike| %>
           <tr>
             <td>
              <%= attachment_image_tag(bike, :bike_image, :fill, 30, 30, fallback: "no_image_bike.png", size:'30x30') %>
              <%= bike.name %>
             </td>
             <td><%= bike.price %></td>
             <td><%= bike.displacement %></td>
             <td>
              <%= link_to '編集する', edit_bike_path(bike), class: "btn btn-sm btn-success" %>
              <%= link_to '削除する', bike_path(bike), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
             </td>
           </tr>
           <% end %>
         </tbody>
       </table>
      <% end %>
      </div>
    </div>
 </div>