<div class="container">
  <div class="row">
<h1 class="heading08"><span>All Bikes</span>商品一覧</h1>
    <%= render partial: 'layouts/flash' %>
  </div>
  <div class="row">
    <% @bikes.each do |bike| %>
      <% if item.is_active == true %>
      <div class="col-md-3">
        <div class="card border-0">
          <%= link_to bike_path(bike.id) do %>
          <div class="item_img">
            <%= attachment_image_tag(bike, :image, height: "150", fallback: "no_image.jpg") %>
          </div>
          <div class="card-body text-center">
            <p class="card-title"><%= bike.name %></p>
          </div>
          <% end %>
        </div>
      </div>
      <%end%>
    <%end%>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <p><%= paginate @items %></p>
      </div>
    </div>
  </div>
</div>
