<div class="container col-xs-12 col-sm-12 col-md-10">
  <div class="row">
    <%= render partial: 'layouts/flash' %>
  </div>
    <div class='offset-1 mt-5'>
    <h1 class="heading08"><span>PV Ranking</span>人気のバイク</h1>
  </div>
  <div class="row">
    <% @rankings.each.with_index(1) do |ranking, i| %>
      <% if ranking.is_active == true %>
      <div class=" col-xs-12 col-sm-6 col-md-4 pb-5">
        <div class="card border-0">
          <%= link_to bike_path(ranking.id) do %>
          <h2 class="text-dark"><i class="fas fa-crown"></i><%= " #{i}位" %></h2>
          <div class="bike_img">
            <%= attachment_image_tag(ranking, :bike_image, height: "250", width: "100%", fallback: "no_image.jpg") %>
          </div>
          <div class="card-body text-center">
            <h2 class="card-title"><%= ranking.name %></h2>
            <span class="badge badge-pill badge-secondary"><%= ranking.area %></span>
            <span class="badge badge-pill badge-info"><%= ranking.maker %></span>
            <span class="badge badge-pill badge-success"><%= ranking.displacement %></span>
            <span class="badge badge-pill badge-warning">¥<%= ranking.price %>/24h</span>
          </div>
          <% end %>
        </div>
      </div>
      <%end%>
    <%end%>
  </div>

  <div class="border mb-3"></div>

  <div class='offset-1 mt-5'>
    <h1 class="heading08"><span>New Arrival</span>新着バイク</h1>
  </div>
  <div class="row">
    <% @bikes.each do |bike| %>
      <% if bike.is_active == true %>
      <div class=" col-xs-12 col-sm-6 col-md-3 pb-5">
        <div class="card border-0">
          <%= link_to bike_path(bike.id), class: "link" do %>
          <div class="bike_img">
            <%= attachment_image_tag(bike, :bike_image, height: "180", width: "100%", fallback: "no_image.jpg") %>
          </div>
          <div class="card-body text-center">
            <h3 class="card-title"><%= bike.name %></h3>
            <span class="badge badge-pill badge-secondary shadow"><%= bike.area %></span>
            <span class="badge badge-pill badge-info shadow"><%= bike.maker %></span>
            <span class="badge badge-pill badge-success shadow"><%= bike.displacement %></span>
            <span class="badge badge-pill badge-warning shadow">¥<%= bike.price %>/24h</span>
          </div>
          <% end %>
        </div>
      </div>
      <%end%>
    <%end%>
  </div>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <p><%= paginate @bikes %></p>
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class="mx-auto col-xs-12 col-sm-12 col-md-8 reservation_form">
      <h1 class="mt-5">バイク検索</h1>
      <%= search_form_for(@q, url:search_bikes_path) do |f| %>
        <table class="table">
          <tr>
            <th>キーワード検索</th>
            <th><%= f.search_field :name_or_area_cont, class:"form-control"  %></th>
          </tr>
          <tr>
            <th>価格</th>
            <th>
              <%= f.number_field :price_gteq, step: "1000", min: "0", placeholder:'0', class:"form-control"  %>円/24h 以上〜
              <%= f.number_field :price_lteq, step: "1000", min: "0", placeholder:'0', class:"form-control"  %>円/24h 以内
            </th>
          </tr>
          <tr>
            <th>AT / MT</th>
            <th>
              <%= f.radio_button :at_mt_eq, '', {:checked => true} %>指定なし
              <%= f.radio_button :at_mt_eq, "MT" %>MT
              <%= f.radio_button :at_mt_eq, "AT" %>AT
            </th>
          </tr>
          <tr>
            <th>エリア</th>
            <th><%= f.select :area_eq, Bike.areas.keys.map{|k,v| [k, Bike.areas[k]] }, {}, class:"form-control" %></th>
          </tr>
        </table>

      <div>
        <%= f.submit 'Search', class:'btn btn-lg btn-outline-dark form-control' %>
      </div>

      <% end %>
    </div>
  </div>
</div>