
<div class='container col-xs-12 col-sm-12 col-md-10'>
  <div class='row'>
    <div class='offset-1'>
      <h1 class="heading08"><span>NEW Exhibit</span>出展登録</h1>
    </div>
  </div>
  <div class='row'>
    <div class='newbike mx-auto col-xs-12 col-sm-12 col-md-10'>
      <%= render partial: 'layouts/flash' %>
      <%= form_with model:@bike, local:true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <%= f.hidden_field :user_id, value:current_user.id %>

        <div class="mt-3">
          <label for='inputVehicleInspection'>車検証(必ず有効なものを添付してください)</label><br>
          <%= f.attachment_field :vehicle_inspection, placeholder:'車検証' %>
        </div>

        <!--<div class="mt-3">-->
        <!--  <label for='inputImage'>バイク画像</label><br>-->
        <!--  <#%= f.attachment_field :bike_image, placeholder:'写真' %>-->
        <!--</div>-->

        <div class="mt-3">
          <label for='inputName'>BikeName(タイトル)</label><br>
          <%= f.text_field :name, class:"form-control", id:'inputName' %>
        </div>

        <div class="mt-3">
          <label for='inputAtMt'>AT / MT</label><br>
          <%= f.select :at_mt, Bike.at_mts.keys, {}, class:"form-control" %>
        </div>

        <div class="mt-3">
          <label for='inputMaker'>バイクメーカー名</label><br>
          <%= f.text_field :maker, class:"form-control", id:'inputMaker' %>
        </div class="mt-3">

        <div class="mt-3">
          <label for='inputDisplacement'>排気量(cc)</label><br>
          <%= f.text_field :displacement, class:"form-control", id:'inputDisplacement' %>
        </div>

        <div class="mt-3">
          <label for='inputMileage'>総走行距離(km)</label><br>
          <%= f.text_field :mileage, class:"form-control", id:'inputMileage' %>
        </div>

        <div class="mt-3">
          <label for='inputModek_year'>年式</label><br>
          <%= f.text_field :modek_year, class:"form-control", id:'inputModekYear' %>
        </div>

        <div class="mt-3">
          <label for='inputPrice'>価格(1day)</label><br>
          <%= f.number_field :price,  step: "1000", min: "0", id:'inputPrice', placeholder:'1日の価格' %>
          <text>円</text>
        </div>

        <div class="mt-3">
          <label for='inputArea'>都道府県</label><br>
          <%= f.select :area, Bike.areas.keys, {}, class:"form-control" %>
        </div>

        <table class="table mt-3">
          <h4>キャンセル規定</h4>
          <tr>
            <th>3日前(72時間前)まで</th>
            <th><%= f.number_field :cancel_fee72,  step: "10", max: "100", min: "0", id:'inputCancelFee72', placeholder:'0' %> %</th>
          </tr>
          <tr>
            <th>前日(24時間前)まで</th>
            <th><%= f.number_field :cancel_fee24,  step: "10", max: "100", min: "0", id:'inputCancelFee24', placeholder:'0' %> %</th>
          </tr>
          <tr>
            <th>当日</th>
            <th><%= f.number_field :cancel_fee_otd,  step: "10", max: "100", min: "0", id:'inputCancelFeeOtd', placeholder:'0' %> %</th>
          </tr>
        </table>

        <div class="mt-3">
          <label>Status</label><br>
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, '出展中', {value: :true, style: 'display: inline-block;'} %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, '出展停止中', {value: :false, style: 'display: inline-block;'} %>
        </div>

        <div class='mt-3 mb-5'>
          <div class="spot">
            <%= f.fields_for :spot do |s| %>
              <%= s.label :address, "バイク受け渡し場所場所(Google Mapで検索)", class: 'spot__title' %>
              <%= s.text_field :address, placeholder: "住所、地名を入力", id: "address", class: 'spot__text' %>
            <input onclick="codeAddress()", type="button", value="検索する"></input>
            <div class="map mx-auto", id="map", style="height: 350px; width: 95%;"></div>
            <% end %>
          </div>
        </div>

        <div class="field mx-auto col-xs-12 col-sm-12 col-md-10">
          <label for='inputIntroduction'>Introduction(バイク紹介文) ※2000字まで</label><br>
          <%= f.hidden_field :introduction, id: :bike_introduction %>
          <trix-editor input="bike_introduction", class="bg-white"></trix-editor>
          <!--<span class="sentiment-score">本文の感情分析スコア<"%= @bike.score %></span>-->
        </div>

        <div class="row hoge m-3 col-12">
          <%= f.submit '出展登録する', class:'btn btn-lg btn-outline-dark form-control' %>
        </div>

      <% end %>
    </div>
  </div>
</div>