<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <h2 class='title'>New Bike</h2>
    </div>
    <div class='col-md-8'></div>
  </div>
  <div class='row'>
    <div class='mx-auto newitem'>
      <%= render partial: 'layouts/flash' %>
      <%= form_with model:@bike, local:true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <%= f.hidden_field :user_id, value:current_user.id %>

        <div>
          <label for='inputImage'>Image</label><br>
          <%= f.attachment_field :bike_image, placeholder:'写真' %>
        </div>

        <div>
          <label for='inputName'>BikeName</label><br>
          <%= f.text_field :name, class:"form-control", id:'inputName' %>
        </div>

        <div>
          <label for='inputIntroduction'>Introduction</label><br>
          <%= f.text_area :introduction, class:"form-control", id:'inputIntroduction' %>
        </div>

        <div>
          <label for='inputMaker'>Maker</label><br>
          <%= f.text_field :maker, class:"form-control", id:'inputMaker' %>
        </div>

        <div>
          <label for='inputDisplacement'>排気量(cc)</label><br>
          <%= f.text_field :displacement, class:"form-control", id:'inputDisplacement' %>
        </div>

        <div>
          <label for='inputMileage'>総走行距離(km)</label><br>
          <%= f.text_field :mileage, class:"form-control", id:'inputMileage' %>
        </div>

        <div>
          <label for='inputModek_year'>年式</label><br>
          <%= f.text_field :modek_year, class:"form-control", id:'inputModek_year' %>
        </div>

        <div>
          <label for='inputPrice'>Price(1day)</label><br>
          <%= f.number_field :price, class:"form-control", id:'inputPrice', step: "1000"  %>
          <text>yen</text>
        </div>

        <div>
          <label>Status</label><br>
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, '出展中', {value: :true, style: 'display: inline-block;'} %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, '出展停止中', {value: :false, style: 'display: inline-block;'} %>
        </div>

        <div>
          <%= f.submit 'Submit', class:'btn btn-lg btn-outline-dark' %>
        </div>

      <% end %>
    </div>
  </div>
</div>