<div class="container col-xs-12 col-sm-12 col-md-10">
  <div class="row">
    <div class='offset-1'>
      <h1 class="heading08"><span>Bike Ditail</span>バイク詳細</h1>
    </div>
  </div>

  <%= render partial: 'layouts/flash' %>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 mt-4 bike_images">
      <div class="bike_image">
      <!--<#% @bike.bike_images.each do |bike_image| %>-->
        <%= attachment_image_tag(@bike, :bike_image, :fill, 400, 300, fallback: "no_image.jpg", size:'400x300') %>
      <!--<#% end %>-->
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 mt-4">
      <div class="impressions text-white text-center shadow rounded-pill px-3"><i class="fas fa-eye"></i> <%= @bike.impressions_count %> PV</div>
      <span class="under">エリア</span>
      <h4><%= @bike.area %></h4>
      <span class="under">name</span>
      <h4><%= @bike.name %></h4>
      <span class="under">owner</span>
      <div class="mb-4">
        <%= link_to user_path(@bike.user) do %>
          <%= attachment_image_tag(@bike.user, :profile_image, :fill, 150, 150, fallback: "no_image.jpg", class: "rounded-circle") %>
          <%= @bike.user.nickname %>
          <div id="average-review-evaluation" data-score=<%= @average_review %>></div>
          <p><%= @reviews.count %> Reviews</p>

          <script>
          $('#average-review-evaluation').empty();
            $('#average-review-evaluation').raty({
              readOnly: true,
              // path: '/assets/'assets_path,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              score: function() {
                return $(this).attr('data-score')
              }
            });
          </script>

        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto col-xs-12 col-sm-12 col-md-8 my-4">
      <span class="under">introduction</span><br>
        <p><%= sanitize @bike.introduction %></p>
    </div>
  </div>

  <div class="border mb-3"></div>

  <div class="row hoge">
    <div class="col-xs-12 col-sm-12 col-md-6 my-3">
      <h2>詳細スペック</h2>
      <table class="table">
        <tr>
          <th>MT / AT</th>
          <th><%= @bike.at_mt %></th>
        </tr>
        <tr>
          <th>メーカー</th>
          <th><%= @bike.maker %></th>
        </tr>
        <tr>
          <th>排気量</th>
          <th><%= @bike.displacement %></th>
        </tr>
        <tr>
          <th>総走行距離</th>
          <th><%= @bike.mileage %></th>
        </tr>
        <tr>
          <th>年式</th>
          <th><%= @bike.modek_year %></th>
        </tr>
        <tr>
          <th>1日あたりの貸出価格</th>
          <th><%= @bike.price %> 円</th>
        </tr>
      </table>
    </div>
  </div>

  <div class="border mb-3"></div>

  <div class="row hoge">
    <div class="col-xs-12 col-sm-12 col-md-6 my-3">
      <h2>利用約款</h2>
      <table class="table">
        <tr>
          <th>損害発生時の責任分担</th>
          <th>帰責割合に応じて負担</th>
        </tr>
        <tr>
          <th>ドライバーの本人確認方法</th>
          <th>受渡時に免許証を確認</th>
        </tr>
        <tr>
          <th>バイクの管理方法</th>
          <th>オーナーが一元管理</th>
        </tr>
      </table>
    </div>
  </div>

  <div class="border mb-3"></div>

  <div class="row hoge">
    <div class="col-xs-12 col-sm-12 col-md-6 my-3">
      <h2>キャンセル規定</h2>
      <table class="table">
        <tr>
          <th>3日前(72時間前)まで</th>
          <th><%= @bike.cancel_fee72 %>%</th>
        </tr>
        <tr>
          <th>前日(24時間前)まで</th>
          <th><%= @bike.cancel_fee24 %>%</th>
        </tr>
        <tr>
          <th>当日</th>
          <th><%= @bike.cancel_fee_otd %>%</th>
        </tr>
      </table>
    </div>
  </div>
  <div class="border mb-3"></div>

  <div class="row hoge">
    <div class="show col-12">
      <div class="show__address">
        <h2>バイク受け取り場所</h2>
        <%= @bike.spot.address %>
      <div class="show__maps shadow", id="show_map", style="height: 350px; width: 100%;"></div>
    </div>
  </div>
</div>

<div class="container col-xs-12 col-sm-12 col-md-10">
  <div class="row hoge">
    <div class="col-12 my-5">
    <!-- カレンダーテンプレを表示 -->
    <%= month_calendar events: @reservations do |date, reservations| %>
      <%= date.day %>

    <!-- 予約を表示させる-->
      <% reservations.each do |reservation| %>
        <div>
          <p class="text-danger">予約済</p>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
  <% if user_signed_in? %>
  <div class='row'>
    <div class="mx-auto col-xs-12 col-sm-12 col-md-8 reservation_form">
      <h1>予約登録</h1>
      <%= form_with model:@reservation, url: confirm_reservation_path(@bike.id), local: true do |f| %>
        <%= f.hidden_field :bike_id, value:@bike.id %>
        <%= f.hidden_field :reserved_id, value:@bike.user_id %>
        <%= f.hidden_field :reserver_id, value:current_user.id %>

        <div class="start_time">
          <%= f.label "利用開始日時" %>
          <%= f.datetime_field :start_time, class:"form-control" %>
        </div>

        <div class="end_time">
          <%= f.label "返却日時" %>
          <%= f.datetime_field :end_time, class:"form-control" %>
        </div>

        <div class="reservation_comment">
          <%= f.label "オーナー様への伝達事項・(500字まで)" %>
          <%= f.text_area :reservation_comment, class:"form-control" %>
        </div>

        <div class="mt-4 submit">
          <div class="row">
          <%= f.submit 'Reserve', class:'btn btn-lg btn-outline-dark form-control' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% else %>

  <h1 class="row hoge">ご予約は会員様限定です</h1>

<% end %>