<div class="container col-xs-12 col-sm-12 col-md-10">
   <div class="row">
    <div class='offset-1'>
     <h1 class="heading08"><span>User List</span>ユーザーリスト</h1>
    </div>
   </div>
   <%= render partial: 'layouts/flash' %>
    <div class="row hoge">
      <div calss="mx-auto">
      <% if @users.empty? %>
        <h4>登録はまだありません</h4>
      <% else %>
       <table border="1" class="table">
         <thead class="table-primary">
           <tr>
             <th>ユーザー名</th>
             <th>登録日</th>
             <th>承認</th>
             <th>退会フラグ</th>
             <th></th>
           </tr>
         </thead>
         <tbody>
           <% @users.each do |user| %>
           <tr>
             <td>
              <%= user.last_name %> <%= user.first_name %>
              (<%= user.last_name_kana %> <%= user.first_name_kana %>)
             </td>
             <td><%= user.created_at %></td>
              <% if user.approval == "承認済" %>
                <td class="text-success">承認済</td>
              <% elsif user.approval == "非承認" %>
                <td class="text-secondary">非承認</td>
              <% else %>
                <td class="text-danger">未対応</td>
              <% end %>
              <% if user.id_deleted == true %>
                <th><p class="danger">退会</span></th>
              <% else %>
                <th></th>
              <% end %>
             </td>
             <td><%= link_to '確認する', admin_user_path(user), class: "btn btn-sm btn-outline-dark" %></td>
           </tr>
           <% end %>
         </tbody>
       </table>
      <% end %>
      </div>
    </div>
 </div>