<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span><%= image_tag '/assets/logo.png', :size => '50x50' %></span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <% if user_signed_in? %>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="navbar-item"><%= link_to ' マイページ',root_path%></li>
          <li class="navbar-item"><%= link_to ' 商品一覧',root_path %></li>
          <li class="navbar-item"><%= link_to ' カート',root_path %></li>
          <li class="navbar-item"><%= link_to ' ログアウト', destroy_userr_session_path, method: :delete %></li>
        </ul>
      </div>
      <div class="row hoge">
       <h4><%= current_user.last_name %><%= current_user.first_name %>様</h4>
      </div>
    <% else %>
     <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="navbar-item"><%= link_to ' About',homes_about_path %></li>
          <li class="navbar-item"><%= link_to ' 商品一覧',root_path %></li>
          <li class="navbar-item"><%= link_to ' 新規登録', new_user_registration_path %></li>
          <li class="navbar-item"><%= link_to ' ログイン', new_user_session_path %></li>
        </ul>
      </div>
    <% end %>


</header>