<!DOCTYPE html>
<html>
  <head>
    <title>Beloved_bikes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700 rel="stylesheet"">
    <!-- スライドショー slickの呼び出し -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body class="fixed-background background1">
    <%= render 'layouts/header'  %>
      <main>
      </main>
    <%= yield %>
  </body>


  <footer>
    <div class='container mt-5'>
      <div class='row'>
        <div class='mx-auto'>
          <h3>CopyRight Beloved_bikes.inc</h3>
        </div>
      </div>
    </div>
  </footer>

</html>