<!DOCTYPE html>
<html>
  <head>
    <title>Beloved_bikes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700 rel="stylesheet"">
  </head>
  <body class="fixed-background background1">
    <%= render 'layouts/header'  %>
      <main>
      </main>
    <%= yield %>
  </body>

  <footer>
    <div class='container mt-5'>
      <div class='row'>
        <div class='mx-auto'>
          <h3>CopyRight Beloved_bikes.inc</h3>
        </div>
      </div>
    </div>
  </footer>

</html>