<!DOCTYPE html>
<html>
  <head>
    <title>Beloved_bikes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700 rel="stylesheet"">
    <!-- スライドショー slickの呼び出し -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body class="fixed-background background1">
    <%= notice %>
    <%= alert %>
    <%= render 'layouts/header' %>
      <main>
      </main>
    <%= yield %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src="//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", type="text/javascript"></script>

  <footer>
    <div class='container mt-5'>
      <div class='row'>
        <div class='footer mx-auto'>
          <h3>© Beloved Bikes.inc All rights reserved.</h3>
        </div>
      </div>
    </div>
  </footer>

  </body>

</html>