<div class="container col-xs-12 col-sm-12 col-md-6">
  <div class="row">
    <div class='offset-1'>
      <h1 class="heading08"><span>Sign up</span>新規ユーザー登録</h1>
    </div>

  <div class="row hoge col-12 p-5">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>


      <div class="field">
        <%= f.label :姓 %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:'form-control' %>
      </div>

      <div class="field">
        <%= f.label :名 %><br />
        <%= f.text_field :last_name, autocomplete: "last_name", class:'form-control' %>
      </div>

      <div class="field">
        <%= f.label :"姓(かな)" %><br />
        <%= f.text_field :first_name_kana, autocomplete: "first_name_kana", class:'form-control' %>
      </div>

      <div class="field">
        <%= f.label :"名(かな)" %><br />
        <%= f.text_field :last_name_kana, autocomplete: "last_name_kana", class:'form-control' %>
      </div>

      <div class="field">
        <%= f.label :ニックネーム %><br />
        <%= f.text_field :nickname, autocomplete: "nickname", class:'form-control' %>
      </div>

      <div class="field">
        <%= f.label :郵便番号 %><br />
        <%= f.text_field :postal_code, autocomplete: "postal_code", class:'form-control' %>
      </div>

      <div class="field">
        <%= f.label :現住所 %><br />
        <%= f.text_field :address, autocomplete: "address", class:'form-control' %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class:'form-control' %>
      </div>

      <div class="field">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:'form-control' %>
      </div>

      <div class="field">
        <%= f.label :確認のため再度ご入力ください %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'form-control' %>
      </div><br>
  </div>
      <div class="border my-5 col-12"></div>

      <div class="col-12 mb-3">
        免許情報入力
      </div>

      <div class="col-12 row hoge">
        <img src="https://cdn.piapro.jp/thumb_i/6w/6wahlcyb8b5sgyzo_20110827122115_0740_0500.png", width="100%">
      </div>
  <div class="row hoge col-12 p-5 row">
      <div class="field">
        <%= f.label :免許証番号 %><br />
        <%= f.text_field :license_number, autocomplete: "license_number", class:'form-control', placeholder:'12桁の数字' %>
      </div>

      <div class="field">
        <%= f.label :交付日 %><br />
        <%= f.text_field :license_date, autocomplete: "license_date", class:'form-control', placeholder:'年号〇年〇〇月〇〇日' %>
      </div>

      <div class="field">
        <%= f.label :有効期限 %><br />
        <%= f.text_field :license_expiration, autocomplete: "license_expiration", class:'form-control', placeholder:'年号〇年〇〇月〇〇日' %>
      </div>

      <div class="field">
        <%= f.label :'免許証(表)' %><br />
        <%= f.file_field :license_front_image, autocomplete: "license_front_image" %>
      </div>

      <div class="field">
        <%= f.label :'免許証(裏)' %><br />
        <%= f.file_field :license_back_image, autocomplete: "license_back_image" %>
      </div><br>

      <div class="actions m-3 col-12 row hoge">
        <%= f.submit "Sign up", class:'btn btn-lg btn-outline-dark form-control' %>
      </div>
    <% end %>

    <div class="text-center col-12 m-3">
      <%= render "users/shared/links" %>
    </div>

  </div>
</div>
